* text=auto
*.rs text eol=lf
*.toml text eol=lf
Cargo.lock text eol=lf
*.mjs text eol=lf
*.js text eol=lf
*.html text eol=lf
*.css text eol=lf
*.md text eol=lf
*.json text eol=lf
*.sh text eol=lf
*.c text eol=lf
*.h text eol=lf
*.py text eol=lf
*.service text eol=lf
*.example text eol=lf
.gitignore text eol=lf
.gitattributes text eol=lf
*.ps1 text eol=crlf
*.bat text eol=crlf
